body{
    margin: 0;
    padding:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:gray;
}
header{
    background-color:#0A0F1E;
    padding:24px 0;
    text-align: center;
   
}
header a{
    text-decoration: none;
    color:#E4F0F6;
     font-size: 25px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.pages{
    background-color:#E4F0F6;
    padding: 5px;
}
.pagelinks{
    list-style: none;
    display: flex;
}
nav a{
    text-decoration: none;
    color:#0A0F1E;
    margin: 0 16px;
    font-size: 19px;
}
nav a:hover{
    color:blueviolet;
}
section{
    background-color:#0A0F1E;
    color:#E4F0F6;
    border: 2px solid #E4F0F6;
    margin: 24px auto;
    border-radius: 4px;
    transition: box-shadow 0.3s ease;
}
section:hover{
    box-shadow: 0 4px 8px black;
}
h2{
    color:#006F62;
    text-align: center;
}
.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
}
/* mobile */
body{font-size:14 px;}
/* tablet */
@media (min-width:768px){
    body{font-size: 16px;}
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}
/* desktop */
@media(min-width:1024px){
    .container{
        grid-template-columns: repeat(4,1fr);
    }
}
.box{
    padding:20px;
    margin: 24px auto;
    border: 2px solid #006F62;
    padding: 10px;
    border-radius: 4px;
    transition: box-shadow 0.3s ease;
    background-color:black;
    color:#E4F0F6;
    flex: 1 1 250px;
}
.box img{
    width: 200px;
    height: auto;
}
.box:hover{
    box-shadow: 8px 4px 8px gray;
}
#carsections{
    background-color:#006F62;
    padding:5px;
}
#brandlinks{
    list-style:none;
    display:flex;
}
#brandlinks a:hover{
    color: #E4F0F6;
}
form label{
    display: block;
}
form input,form button,form select{
    border: 2px solid #006F62;
    border-radius: 8px;
    display: flex;
}
form button{
    background-color: #006F62;
    color:#E4F0F6;
    transition: background-color 0.3s ease;
    padding:4px;
}
form button:hover{
    background-color:green;
}
form button:active{
    background-color:greenyellow;
}
footer{
    background-color: #0A0F1E;
    color: #E4F0F6;
    text-align: center;
    padding-bottom:auto;
}
.formlink{
    text-decoration: none;
    color:blueviolet;
}
h3{
    text-align: center;
}